/* Mixins
*
-----------------------*/
@mixin transition($time) {
    transition: all $time ease-out;
}


/* General Layout
*
-----------------------*/
input:disabled{
    cursor: not-allowed;
}

section{
    background: white;
}

section.hero {
    width: 100%;
    min-height: 100vh;
}

section.home-section{
    background-image: url('../assets/img/ra-cam-realidad-aumentada.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    p{
        color: white;
    }
}

section.tryout{
    background: transparent;
    h3, p{
        color: white;
    }
}

section.contact-form{
    background-image: url('../assets/img/contacto-ra-cam.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h3, p, label {
        color: white;
    }
}

section.confirmation-section{
    background-image: url('../assets/img/ra-cam-realidad-aumentada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.contact-form,
section.confirmation-section{
    position: relative;

    .footer {
        position: absolute;
        bottom: 0px;

        p,a {
            font-size: ms(-1);
            color: white;
        }
    }
}